body{
    background-color: rgb(182, 215, 255);
    text-align: center;
}

h1{
    margin: 100px;
    color: #337ab7;
}

button{
    margin: 50px;
    font-size: larger;
}

.btn6ba{
    float: left;
    margin-top: 0 !important;
}

.body{
    background-color: white;
}


th{
    text-align: center;
}

tr{
    width: 600px;
}